body{
    background-color: cadetblue;
}
fieldset{
    background-color: aquamarine;
    width: 400px;
    height: 120px;
    border: solid 2px blue;
}
input[type=number]{
    width:60px;
}


img{
    width: 300px;
}

section#nr2{
    margin:30px